.suit{
  font-weight: 500;
  &:before{
    font-family: monospace;
    margin-right: 2px;
  }
}

.suit0{
  color: #000;
  &:before{
    content: '♠';
  }
}

.suit1{
  color: darkred;
  &:before{
    content: '♥';
  }
}

.suit2{
  color: orangered;
  &:before{
    content: '♦';
  }
}

.suit3{
  color: forestgreen;
  &:before{
    content: '♣';
  }
}

.auction-header{

    color: white;
    border-bottom: 2px solid black;

    .n, .s, .e, .w{
      font-weight: bold;
    }

    &.all{
      .n, .s, .e, .w{
        background-color: red;
      }
    }

    &.none{
      .n, .s, .e, .w{
        background-color: green;
      }
    }

    &.ew{
      .e, .w{
        background-color: red;
      }

      .n, .s{
        background-color: green;
      }
    }

  &.ns{
    .e, .w{
      background-color: green;
    }

    .n, .s{
      background-color: red;
    }
  }
}

.auction-row{
  .column{
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    &:first-child{
      border-left: 1px solid black;
    }
  }
}


.hand-diagram{
  position: relative;
  margin: auto;
  max-width: 320px;

  .hand-row{
    display: block;

    .hand{
      ul{
        width: 125px;
        overflow: hidden;
        margin: auto;
        padding-left: 30px;
      }
    }


    .north, .south{
      padding-left: 10px;
    }

    .west{
      float: left;
    }

    .east{
      float: right;
    }
  }
}


.alerts{
  margin-top: 30px;
}

.alerted-bid{
  font-weight: bolder;

  &:after{
    color: red;
    content: ' !';
  }
}