
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$primary: #3097D1;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text;

// Inputs
$input-border: lighten($text, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color-placeholder: lighten($text, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Bidding box ans suit color:

$pass: #008900;
$double: #FF0000;
$redouble: #5300FF;

$club: #008900;
$diamond: #FFA100;
$heart: #FF0000;
$spade: #4200FF;
$notrump: black;